.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
  }
  
  .home-page h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .home-page p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .home-page button {
    padding: 1rem 2rem;
    background-color: #0073e6;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .home-page button:hover {
    background-color: #0062cc;
  }